
<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed" data-assets-path="" data-base-url="" data-framework="django" data-template="vertical-menu-free">

  <head>
	<%- include('../includes/head.ejs') %>

  <link rel="stylesheet" href="/css/page-auth.css" />

  </head>

  <body>

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Login -->
          <div class="px-sm-6 px-0">
            <div class="card-body">
              <!-- Logo -->
              <%- include('../includes/logo.ejs') %>
              <!-- /Logo -->
              <h4 class="mb-1">Welcome back Counselor! 👋</h4>
              <p class="mb-6">Please sign-in to your counselor account</p>

              <form id="formAuthentication" class="mb-6" action="/counselor/login" method="post">

                <% if (error) { %>
                  <div class="alert alert-danger" role="alert">
                    <%= error %>
                  </div>
                <% } %>
            
                <div class="mb-6">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" value="<%= username || '' %>" autofocus>
                </div>
            
                <div class="mb-6 form-password-toggle">
                  <label class="form-label" for="password">Password</label>
                  <div class="input-group input-group-merge">
                    <input type="password" id="password" class="form-control" name="password" placeholder="••••••••••••" aria-describedby="password" />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>
            
                <div class="mb-6">
                  <button class="btn btn-primary d-grid w-100" type="submit">Login</button>
                </div>
            </form>
            

              <!-- <p class="text-center">
                <span>Don't have a counselor account?</span>
                <a href="/counselor/register">
                  <span>Create an account</span>
                </a>
              </p> -->
            </div>
          </div>

        </div>
      </div>
    </div>
<%- include('../includes/scripts.ejs') %>
  </body>

</html>